body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f8f8fa;
  color: #515159;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

img {
  width: 100%;
}
